.how-it-works__wrapper {
  min-width: 1280px;
}

.how-it-works {
  overflow-x: hidden;

  &__description {
    grid-column: 1 / 6;
    grid-row: 1 / 13;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      @include H3;
      width: 390px;
      margin-bottom: var(--space-lg);
    }

    &__feature-list {
      width: 390px;
    }
  }

  &__show {
    grid-column: 7 / 13;
    grid-row: 1 / 13;

    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      @include elevation--level8;

      position: relative;
      width: 400px;
      height: 80%;
      border-radius: 16px;
      background-size: cover;
      background-image: url("../../../assets/how-it-work-show.png");
    }

    &__background {
      position: absolute;
    }

    &__background-left {
      top: -6%;
      left: -10%;

      width: 150px;
      height: 200px;
      background-repeat: no-repeat;
      background-image: url("../../../assets/dot-pattern-blue.png");
    }

    &__background-right {
      top: 0%;
      right: 0%;

      width: 200px;
      height: 0px;
      padding-bottom: 119%;
      opacity: 0.6;
      border-radius: 0 16px 0 0;
      background-repeat: no-repeat;
      background-image: url("../../../assets/right-circlehalf-shape.png");
    }
  }
}

@include breakpoint(0, sm) {
  .how-it-works__wrapper {
    min-width: auto;
  }

  .how-it-works {
    height: auto !important;
    padding-bottom: var(--space-md);

    display: flex;
    flex-direction: column-reverse;
  }

  .how-it-works__description {
    &__title {
      @include H4;
      width: 100%;
    }

    &__feature-list {
      width: 100%;
    }
  }

  .how-it-works__show {
    height: 600px;
    justify-content: flex-start;

    &__background-right {
      padding-bottom: 0%;
    }
  }
}
