.how-it-works {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--surface-color);

  &__description {
    margin-right: var(--space-xl);
  }

  &__point {
    @include Body1;
    color: var(--light-text-color);

    display: flex;
    align-items: center;

    margin-bottom: var(--space-xs);
  }

  &__title {
    @include H3;
    color: var(--text-color);
    margin-bottom: var(--space-lg);
  }

  &__road-map {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    @include elevation--level8;
    @include H4;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 var(--space-lg);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 160px;
    height: 160px;
  }

  &__saas {
    background-image: url("../../../assets/saas.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__app {
    background-image: url("../../../assets/app.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__beautiful {
    background-image: url("../../../assets/landingImg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    @include Body2;
    color: var(--light-text-color);
  }
}

@include breakpoint(sm, md) {
  .how-it-works {
    height: auto !important;
    padding: var(--space-xl) 0;
    flex-direction: column;

    &__description {
      margin-right: 0;
      margin-bottom: var(--space-xl);
    }

    &__road-map {
      flex-direction: column;
    }

    &__icon {
      margin: var(--space-lg) 0;
    }
  }
}
