.video-link {
  @include Body1;
  display: flex;
  align-items: center;
  padding: var(--space-lg) 0;

  background-color: var(--surface-color);
  color: var(--gray-text-color);

  &__icon {
    font-size: var(--icon-md);
    margin-right: var(--space-xs);
    cursor: pointer;
    color: var(--secondary-color);
  }

  &__text {
    cursor: pointer;
    &:hover {
      color: var(--secondary-color);
    }
  }

  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

@include breakpoint(0, sm) {
  .video-link {
    justify-content: center;
  }
}
