.value-content__wrapper {
  box-sizing: border-box;
  position: relative;

  overflow: hidden;
  background-color: var(--gray-background-color);

  min-width: 1280px;
  max-height: 789px;
}

.value-content__background {
  @include elevation--level4;
  position: absolute;
  z-index: 1;
  top: -24%;
  right: -8%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--light-secondary-color);
}

.value-content {
  position: relative;
  z-index: 2;
  height: 100%;

  &__title {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title-text {
    @include H2;

    &--active {
      color: var(--light-secondary-color);
    }
  }

  &__label {
    @include Body2;

    margin-top: var(--space-sm);
    color: var(--light-text-color);
  }

  &__list {
    grid-column: 1 / 13;
    grid-row: 5 / 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: var(--space-md);
    grid-column-gap: var(--space-md);
    justify-items: center;
  }

  &__item {
    @include elevation-card;
    display: flex;
    align-items: center;

    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 180px;
    padding: var(--space-md);
    border-radius: 8px;
    background-color: var(--surface-color);

    cursor: pointer;

    &:hover {
      .value-content__item__bottom-line {
        background-color: var(--light-secondary-color);
      }
    }

    &__left {
      flex: 1;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 74px;
      height: 74px;
      border-radius: 16px;
      border: 1px solid var(--light-border-color);
      color: var(--primary-color);
      font-size: 24px;
    }

    &__text {
      flex: 5;
    }

    &__title {
      @include H4;
      margin-bottom: var(--space-xs);
    }

    &__description {
      @include Body1;
      color: var(--light-text-color);
    }

    &__bottom-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 8px;
      border-radius: 0px 0px 12px 12px;
    }
  }
}

@include breakpoint(0, sm) {
  .value-content__wrapper {
    box-sizing: border-box;
    height: auto !important;
    min-width: auto;
  }

  .value-content__background {
    width: 1000px;
    height: 1000px;
  }

  .value-content {
    display: block;
    padding: var(--space-lg) 0;

    &__title-text {
      @include H4;
    }

    &__label {
      margin-bottom: var(--space-md);
    }

    &__list {
      grid-template-columns: 1fr;
      grid-row-gap: var(--space-sm);
    }

    &__item {
      width: 100%;
      height: auto;

      &__left {
        margin-right: var(--space-md);
      }
    }
  }
}
