.value-item {
  margin-bottom: var(--space-xl);

  &-title {
    @include H2;
    margin-bottom: var(--space-md);
  }

  &__description {
    @include Body2;
    color: var(--light-text-color);
  }
}
