.object-content__wrapper {
  position: relative;

  overflow: hidden;
  background-color: var(--surface-color);
}

.object-content {
  height: 100%;

  &--left {
    grid-column: 1 / 13;
    grid-row: 3 / 7;
  }

  &--right {
    grid-column: 1 / 13;
    grid-row: 8 / 12;
  }
}

@include breakpoint(0, md) {
  .object-content__wrapper {
    height: auto !important;
    padding-bottom: var(--space-lg);
  }

  .object-content {
    display: flex;
    flex-direction: column;
  }
}
