.object-content__wrapper {
  overflow: hidden;
  background-color: var(--surface-color);
  min-width: 1280px;
  padding: var(--space-xxl) 0;
}

.object-content {
  max-width: 1280px;
  margin: 0 auto;

  &--left {
    grid-column: 1 / 13;
    grid-row: 2 / 7;
  }

  &--right {
    grid-column: 1 / 13;
    grid-row: 7 / 12;
  }
}

@include breakpoint(0, sm) {
  .object-content__wrapper {
    min-width: auto;
    height: auto !important;
    padding: var(--space-md) 0;
  }

  .object-content {
    display: flex;
    flex-direction: column;
  }
}
