.tab-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  height: 100%;

  &__tab-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: var(--space-sm);
    height: 50px;
  }

  &__tab-list {
    display: inline-grid;
    grid-column-gap: var(--space-xl);
    overflow: scroll;
  }

  &__content {
    flex: 1;
    box-sizing: border-box;
    padding-bottom: var(--space-lg);
    width: 100%;

    display: flex;
    justify-content: center;
  }
}
