.management-system__wrapper {
  max-height: 789px;
  overflow: hidden;
  background-color: var(--gray-background-color);
}

.management-system {
  height: 100%;

  &__text {
    grid-column: 1 / 4;
    grid-row: 5 / 10;
  }

  &__title {
    @include H2;
    margin-bottom: var(--space-xs);

    &--active {
      color: var(--primary-color);
    }
  }

  &__tab-list__icon {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__description {
    @include Body2;
    color: var(--gray-text-color);
    margin-bottom: var(--space-lg);
  }

  &__show-img {
    grid-column: 4 / 13;
    grid-row: 1 / 13;

    &__content {
      width: 100%;
      height: 100%;

      background-image: url("../../../assets/section/ManagementSystem/management-system.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__detail {
    height: 789px;
    box-sizing: border-box;
    padding: 44px 0 60px;
  }
}

@include breakpoint(0, sm) {
  .management-system {
    &__text {
      grid-column: 1 / 13;
      grid-row: 2 / 3;
    }

    &__show-img {
      grid-column: 1 / 13;
      grid-row: 7 / 12;

      &__content {
        background-size: contain;
      }

      &__content__mini-program {
        background-size: contain;
      }
    }

    &__title {
      text-align: center;
    }

    &__description {
      text-align: center;
    }

    &__controller {
      display: flex;
      justify-content: center;
    }

    &__detail {
      height: auto !important;
      padding: 0;
      padding-top: var(--space-xs);
    }
  }
}
