.management-system_wrapper {
  overflow: hidden;
  background-color: var(--gray-background-color);
}

.management-system {
  height: 100%;

  &__text {
    grid-column: 2 / 8;
    grid-row: 5 / 10;
  }

  &__title {
    @include H3;
    margin-bottom: var(--space-sm);
  }

  &__description {
    @include Body1;
    color: var(--gray-text-color);
    margin-bottom: var(--space-lg);
  }

  &__show-img {
    position: relative;

    grid-column: 6 / 13;
    grid-row: 5 / 12;

    &__background {
      position: absolute;
      top: -50%;
      left: -20%;
      width: 100%;
      height: 0;
      padding-bottom: 100%;

      background-image: url("../../../assets/light-green-ball.svg");
    }

    &__content {
      @include elevation--level4;
      position: absolute;
      width: 1000px;
      height: 540px;
      border-radius: 16px;
      top: -20%;
      left: 30%;

      background-image: url("../../../assets/management-system.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__content__mini-program {
      @include elevation--level8;

      position: absolute;
      z-index: 2;
      top: -10%;
      left: 12%;
      width: 240px;
      height: 519px;
      border-radius: 16px;

      background-image: url("../../../assets/miniprogram.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.management-system__detail {
}
