.about-us-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  min-width: 1280px;

  color: var(--white-color);

  &__title {
    @include H3;
    width: 50%;
  }

  &__description {
    @include Subtitle2;

    width: 50%;
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/promo-bg-img2.jpg");
  }
}

.about-us-content--mobile {
  .about-us-content__background {
    background-position-x: 50%;
    filter: blur(8px);
  }
}

@include breakpoint(0, sm) {
  .about-us-content {
    min-width: auto;
    box-sizing: border-box;
    padding: 0 var(--space-md);

    &__title {
      width: 100%;
      text-align: center;
    }

    &__description {
      width: 100%;
      text-align: center;
    }
  }

  .about-us-content__background {
    background-position-x: 50%;
    filter: blur(8px);
  }
}
