.solution {
  width: 100vw;
  overflow: hidden;

  &__swiper {
    height: 100%;
  }

  &__catalogue {
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    top: 50%;
    right: var(--space-lg);
  }
}

.catalogue__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: var(--space-lg);
  cursor: pointer;
  transition: transitionFunc(all, 400ms);
  opacity: 0.3;
}

.catalogue__tag {
  width: 20px;
  height: 12px;
  border-radius: 8px;
  margin-right: var(--space-xs);

  background-color: var(--red-color);
  transition: transitionFunc(all, 400ms);
}

.catalogue__text {
  @include Body1;
  color: var(--gray-text-color);
  transition: transitionFunc(all, 400ms);
}

.catalogue__item--active {
  opacity: 1;

  .catalogue__tag {
    width: 26px;
    height: 16px;
  }

  .catalogue__text {
    font-size: var(--text-xl);
  }
}

@include breakpoint(0, sm) {
  .solution {
    &__catalogue {
      display: none;
    }
  }
}
