.feature-item {
  display: flex;
  margin-bottom: var(--space-md);

  &__img {
    width: 74px;
    height: 74px;
    border-radius: 32.8%;
    border: 2px solid var(--border-color);
    margin-right: var(--space-md);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    color: var(--light-primary-color);
  }

  &__description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include H4;
    font-weight: 400;
    margin-bottom: var(--space-xs);
  }

  &__text {
    @include Body2;
    color: var(--gray-text-color);
  }
}

@include breakpoint(0, sm) {
  .feature-item {
    width: 100%;
  }
}
