.hardware {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--space-xl) 0;

  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-xxl);
  }

  &__img {
    height: 562px;
    margin-right: var(--space-xxl);
  }

  &__slogan {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 490px;

    &__title {
      @include H1;
      margin-bottom: var(--space-lg);

      &--active {
        color: var(--dark-secondary-color);
      }
    }

    &__text {
      @include Body2;
      color: var(--light-text-color);
    }
  }

  &__description {
    @include H4;

    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: var(--space-md);
    grid-row-gap: var(--space-lg);
  }

  &__description__item {
    border-radius: 12px;
    border: 2px solid var(--light-border-color);
    width: 100%;
    height: 160px;

    line-height: 160px;
    text-align: center;
    cursor: pointer;

    transition: transitionFunc(all, 200ms);

    &:hover {
      background-color: var(--secondary-color);
      border-color: transparent;
    }
  }
}

@include breakpoint(0, sm) {
  .hardware {
    box-sizing: border-box;
    margin-top: var(--space-xl);
    height: auto !important;
    padding: var(--space-sm) 16px;
    &__content {
      flex-direction: column;
    }

    &__img {
      margin-right: 0;
    }

    &__slogan {
      @include H4;

      &__title {
        margin-bottom: var(--space-sm);
      }
    }

    &__description {
      grid-column: 1 / 13;
      grid-row: 7 / 13;

      grid-template-columns: repeat(1, 1fr);

      &__item {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}
