.hero__wrapper {
  min-width: 1280px;
  min-height: 789px;

  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  overflow: hidden;
}

.hero {
  position: relative;
  padding-top: calc(70px + 88px);

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include H1;
  }

  &__description {
    @include Body2;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-lg);
    color: var(--light-text-color);
  }

  &__show {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    &__website {
      width: 100%;
      height: 100%;
      background-image: url("../../../assets/production-show.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@include breakpoint(lg, xl) {
  .hero__show__background-left {
    left: 16%;
  }

  .hero__show__background-right {
    right: 14%;
  }
}

@include breakpoint(sm, lg) {
  .hero__title {
    @include H2;
  }

  .hero__description {
    @include Body2;
  }

  .hero__show__background-left {
    bottom: -6%;
    left: 0%;
    width: 250px;
    height: 250px;
  }

  .hero__show__background-right {
    display: none;
  }
}

@include breakpoint(0, sm) {
  .hero__wrapper {
    min-width: auto;
  }

  .hero__title {
    @include H2;
  }

  .hero__description {
    @include Body2;
  }

  .hero__show__background-left {
    bottom: 20%;
    left: -8%;
    width: 250px;
    height: 250px;
  }

  .hero__show__background-right {
    display: none;
  }
}
