.header__wrapper {
  position: relative;
  box-sizing: border-box;

  width: 100%;
  min-height: 70px;

  background-color: transparent;
  backdrop-filter: blur(0);
  box-shadow: none;
}

.header__wrapper--show-elevation {
  @include elevation--level4;

  background-color: var(--white-color);
}

.header__wrapper--with-menu {
  background-color: var(--background-color);
  transition: transitionFunc(background-color);
}

.header {
  box-sizing: border-box;

  height: 70px;

  &__logo {
    grid-column: 1 / 3;
    grid-row: 1 / 13;

    display: flex;
    align-items: center;

    cursor: pointer;

    &__img {
      width: var(--icon-xl);
      height: var(--icon-xl);
      margin-right: var(--space-xs);

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../../../assets/logo.png");
    }
  }

  &__bar {
    grid-column: 6 / 12;
    grid-row: 1 / 13;

    display: grid;
    align-items: center;
    justify-items: end;
  }

  &__controller {
    grid-column: 11 / 15;
    grid-row: 1 / 13;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__try-button {
      @include Subtitle2;
      line-height: 21px;

      display: flex;
      align-items: center;

      padding: var(--space-xs) var(--space-sm);
      border-radius: 22px;
      background-color: transparent;
      border: 1px solid var(--light-border-color);
      color: var(--text-color);
      cursor: pointer;
      transition: transitionFunc(all, 400ms);

      &:hover {
        @include elevation--level4;

        color: var(--on-primary-color);
        background-color: var(--primary-color);
        border: 1px solid transparent;

        .header__controller__icon {
          @include flip-vertical-bottom;
        }
      }
    }

    &__icon {
      margin-left: var(--space-xxs);
    }
  }

  &__hamburger {
    @include Button;
    grid-row: 1 / 13;

    display: none;
    pointer-events: none;

    align-items: center;
    justify-content: flex-end;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: 1px solid transparent;

      &:active {
        border: 1px solid var(--text-color);
      }

      &--active {
        border: 1px solid var(--text-color);
        transition: transitionFunc(border-color);
      }
    }
  }
}

.header__menu {
  position: fixed;
  top: 69px;

  width: 100%;

  background-color: var(--background-color);
  visibility: hidden;

  overflow: scroll;
}

.header__menu--visible {
  visibility: visible;
  animation: slideInRight;
  animation-duration: 300ms;
}

.header__menu--hidden {
  visibility: visible;
  animation: slideOutRight;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

// 响应式布局样式
@include breakpoint(0, md) {
  .header__logo {
    grid-column: 1 / 7;
  }

  .header__controller {
    display: none;
  }

  .header__bar {
    display: none;
  }

  .header__hamburger {
    display: flex;
    pointer-events: visible;
    grid-column: 7 / 14;
  }
}

@include breakpoint(md, lg) {
  .header__bar {
    grid-column: 5 / 12;
  }
}
