:root {
  --light-primary-color: #527dff;
  --primary-color: #295fff;
  --dark-primary-color: #0034d1;
  --on-primary-color: #fff;

  --light-secondary-color: #ffcb5d;
  --secondary-color: #ffcb5d;
  --dark-secondary-color: #ffc500;
  --on-secondary-color: #1d1d1f;

  --surface-color: #fff;
  --background-color: #fff;
  --gray-background-color: #f6f8f9;

  --text-color: #000;
  --light-text-color: #6d6d6d;
  --gray-text-color: #7c8087;

  --gray-border-color: #c8c8c8;
  --border-color: #929292;
  --light-border-color: #d8d8d8;

  --green-color: #50af4c;

  --white-color: #fff;

  --red-color: #fe574b;
}
