:root {
  --light-primary-color: #527dff;
  --primary-color: #295fff;
  --dark-primary-color: #0034d1;
  --on-primary-color: #fff;

  --light-secondary-color: #3acf91;
  --secondary-color: #2cb67d;
  --dark-secondary-color: #249465;
  --on-secondary-color: #222;

  --surface-color: #fff;
  --background-color: #fff;
  --gray-background-color: #f6f8fc;

  --dark-text-color: #1d293f;
  --gray-text-color: #7c8087;

  --gray-border-color: #c8c8c8;

  --green-color: #50af4c;
}
