// 海拔
@mixin elevation--level4 {
  box-shadow: rgba($color: #000, $alpha: 0.132) 0px 1.6px 3.6px 0px,
    rgba($color: #000, $alpha: 0.108) 0px 0.3px 0.9px 0px;
}

@mixin elevation--level8 {
  box-shadow: rgba($color: #000, $alpha: 0.132) 0px 3.2px 7.2px 0px,
    rgba($color: #000, $alpha: 0.108) 0px 0.6px 1.8px 0px;
}

@mixin elevation--level16 {
  box-shadow: rgba($color: #000, $alpha: 0.132) 0px 6.4px 14.4px 0px,
    rgba($color: #000, $alpha: 0.108) 0px 1.2px 3.6px 0px;
}

@mixin elevation--levelTop {
  box-shadow: rgba($color: #000, $alpha: 0.132) 0px 25.6px 57.6px 0px,
    rgba($color: #000, $alpha: 0.108) 0px 4.8px 14.4px 0px;
}

@mixin elevation-sm {
  box-shadow: 0.5px 1px 1px hsl(var(--shadow-color) / 0.7);
}

@mixin elevation-md {
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333),
    3px 6px 6px hsl(var(--shadow-color) / 0.333);
}

@mixin elevation-lg {
  box-shadow: 1px 2px 2px hsl(var(--shadow-color) / 0.2),
    2px 4px 4px hsl(var(--shadow-color) / 0.2),
    4px 8px 8px hsl(var(--shadow-color) / 0.2),
    8px 16px 16px hsl(var(--shadow-color) / 0.2),
    16px 32px 32px hsl(var(--shadow-color) / 0.2);
}

@mixin elevation-card {
  box-shadow: 0px 20px 24px 0px rgba(170, 170, 170, 0.2);
}

$zIndex-highest: 999;
