@import "./color.scss";
@import "./measurement.scss";
@import "./aosStyle.scss";
@import "./tool.scss";

:root {
  --shadow-color: 0deg 0% 50%;

  --text-base-size: 1em;
  --text-scale-lg-ratio: 1.3125;
  --text-scale-sm-ratio: 1.1125;
  --text-scale-ratio: 1.15;

  --text-xxs: calc(
    (var(--text-base-size) / var(--text-scale-sm-ratio)) /
      var(--text-scale-sm-ratio) / var(--text-scale-sm-ratio)
  ); // 12px
  --text-xs: calc(
    (var(--text-base-size) / var(--text-scale-sm-ratio)) /
      var(--text-scale-sm-ratio)
  ); // 12px
  --text-sm: calc(var(--text-base-size) / var(--text-scale-sm-ratio)); // 14px
  --text-md: var(--text-base-size); // 16px
  --text-lg: calc(var(--text-md) * var(--text-scale-sm-ratio)); // 18px
  --text-xl: calc(var(--text-lg) * var(--text-scale-sm-ratio)); // 20px
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio)); // 24px
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio)); // 28px
  --text-xxxxl: calc(var(--text-xxxl) * 1.626); // 42px
  --text-xxxxxl: calc(var(--text-xxxl) * 2.06); // 54px
}

body {
  margin: 0;
  font-size: 16px;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}

ul {
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

p {
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 2.19%;
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-row-gap: 2.19%;

  max-width: 1280px;
}

@include breakpoint(0, xs) {
  :root,
  * {
    --space-unit: 0.8rem;
  }

  body {
    font-size: 10px;
  }

  .grid {
    margin: 0 16px;
    .grid--6 {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }
}

@include breakpoint(xs, xl) {
  .grid {
    margin: 0 32px;
  }
}

@include breakpoint(xl) {
  .grid {
    margin: 0 auto;
  }
}

@font-face {
  font-family: "Microsoft YaHei UI Semi Bold";
  src: url("../assets/font/MicrosoftYaHeiUISemibold.ttf");
}
// @font-face {
//   font-family: "Microsoft YaHei UI Bold";
//   src: url("../assets/font/MicrosoftYaHeiUIBold.ttf");
// }
@font-face {
  font-family: "Microsoft Ya Hei UI";
  src: url("../assets/font/MicrosoftYaHeiUI.ttf");
}
@font-face {
  font-family: "Microsoft Ya Hei UI Light";
  src: url("../assets/font/MicrosoftYaHeiUILight.ttf");
}
