@import "./tool.scss";

@mixin H1 {
  font-size: 68px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1.2;
}
@mixin H2 {
  font-size: var(--text-xxxxxl);
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
}
@mixin H3 {
  font-size: var(--text-xxxxxl);
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
}
@mixin H4 {
  font-size: var(--text-xxxl);
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 300;
}
@mixin H5 {
  font-size: var(--text-xxl);
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 300;
}
@mixin Subtitle1 {
  font-size: var(--text-xl);
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
}
@mixin Subtitle2 {
  font-size: var(--text-md);
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 300;
}
@mixin Button {
  font-weight: 400;
  font-family: "Noto Sans SC", sans-serif;
  font-size: var(--text-md);
}
@mixin Body1 {
  font-size: var(--text-md);
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.5;
}
@mixin Body2 {
  font-size: var(--text-sm);
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

@mixin Caption {
  font-size: var(--text-xs);
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 100;
}

@mixin text-ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  white-space: break-spaces;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin text-ellipsis-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-wrap {
  white-space: break-spaces;
  word-break: break-all;
}
