.web-download {
  &__show {
    grid-column: 1 / 7;
    grid-row: 4 / 10;
    align-self: center;
  }

  &__img {
    width: 100%;
  }

  &__content {
    grid-column: 8 / 13;
    grid-row: 5 / 9;
  }

  &__title {
    @include H1;

    &--active {
      color: var(--dark-secondary-color);
    }
  }

  &__label {
    @include H4;
    color: var(--light-text-color);

    margin: var(--space-lg) 0 var(--space-xl);
  }

  &__list {
    display: flex;
  }
}

.download-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;
  margin-right: var(--space-xl);

  cursor: pointer;

  &__img {
    @include elevation-card;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 8px;
    animation: zoomIn;
    animation-duration: 300ms;

    &--hidden {
      animation: zoomOut;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }
  }

  &__qr-code {
    @include elevation-card;

    width: 100%;
    border-radius: 8px;
    animation: zoomOut;
    animation-duration: 300ms;

    &--visible {
      animation: zoomIn;
      animation-duration: 300ms;
    }
  }

  &__label {
    @include Body2;
    color: var(--light-text-color);
    opacity: 0.8;

    margin-top: var(--space-md);
  }
}
