.web-download__wrapper {
  position: relative;
}

.web-download {
  width: 100%;
  height: 100%;

  &__show {
    grid-column: 1 / 6;
    grid-row: 3 / 12;
    display: flex;
    justify-content: center;

    &__img {
      background-image: url("../../../../assets/section/Support/production-show.png");
    }
  }

  &__content {
    grid-column: 7 / 13;
    grid-row: 3 / 12;
  }

  &__title {
    @include H3;
    margin-bottom: var(--space-xl);
  }

  &__sources {
    display: flex;

    &__mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .web-download__mobile {
      @include elevation--level8;
      @include Subtitle1;

      color: var(--white-color);

      display: flex;
      align-items: center;

      border-radius: 14px;
      padding: var(--space-sm);
      margin-bottom: var(--space-xl);

      &__icon {
        font-size: 24px;
      }

      &__text {
        margin-left: var(--space-sm);
      }

      &--apple {
        background-color: #4d4d4d;
      }

      &--android {
        color: var(--text-color);
        background-color: #f2f2f7;
      }
    }
  }

  &__qr-code {
    width: 200px;
    margin-right: var(--space-xl);
  }

  &__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  &__background-one {
    // z-index: -1;

    background-image: url("../../../../assets/section/Support/wave-one.png");
  }
  &__background-two {
    z-index: -1;
    background-image: url("../../../../assets/section/Support/wave-two.png");
  }
  &__background-three {
    z-index: -1;
    background-image: url("../../../../assets/section/Support/wave-three.png");
  }
}
