.mobile-download {
  position: relative;
  background-color: var(--light-background-color);

  &__background {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/section/Support/app-download.png");
  }

  &__content {
    z-index: 1;
    box-sizing: border-box;
    margin-top: 10%;
    padding-bottom: 10%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__button {
    width: 80%;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/section/Support/app-download-btn.png");
  }

  &__text {
    @include Body2;
    color: var(--light-text-color);

    margin-top: var(--space-xs);
  }
}
