.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/promo-bg-img2.jpg");

  color: var(--white-color);

  &__title {
    @include H3;
    width: 50%;
  }

  &__description {
    @include Subtitle2;

    width: 50%;
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
  }
}

@include breakpoint(0, sm) {
  .about-us-content {
    box-sizing: border-box;
    padding: 0 var(--space-md);

    &__title {
      width: 100%;
      text-align: center;
    }

    &__description {
      width: 100%;
      text-align: center;
    }
  }
}
