.menu-item {
  padding: var(--space-sm) 0;

  &__children-list {
    display: none;
    box-sizing: border-box;
    padding-left: var(--space-sm);

    &--active {
      display: block;
    }
  }

  &__child {
    margin-bottom: var(--space-sm);
    &__title {
      @include Subtitle1;
      margin-bottom: var(--space-xxs);
    }

    &__description {
      @include Body2;
      color: var(--light-text-color);
      margin-bottom: var(--space-xs);
    }

    &__line {
      height: 1px;
      width: 100%;
      background-color: var(--gray-border-color);
    }
  }
}
