.technology {
  &__show {
    grid-column: 1 / 13;
    grid-row: 2 / 9;
    background-image: url("../../../assets/section/Support/technology-background.jpeg");
    background-size: cover;
  }

  &__content {
    grid-column: 1 / 13;
    grid-row: 9 / 12;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
  }

  &__title {
    @include H2;
    margin-bottom: var(--space-sm);
  }

  &__description {
    @include Body2;
    color: var(--light-text-color);
    margin-bottom: var(--space-lg);
  }

  &__contact-information {
    @include H4;
    color: var(--text-color);

    display: flex;
    align-items: flex-end;
    margin-bottom: var(--space-xs);
  }

  &__icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: var(--space-sm);
  }
}

@include breakpoint(0, sm) {
  .technology {
    &__title {
      @include H3;
    }

    &__show {
      grid-row: 2 / 6;
      background-repeat: no-repeat;
    }

    &__content {
      grid-row: 6 / 13;
      display: block;
    }

    &__info-item {
      margin-bottom: var(--space-md);
    }

    &__contact-information {
      @include Subtitle1;
    }

    &__icon {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
