.text-link {
  @include Subtitle2;

  position: relative;

  display: flex;
  align-items: center;

  height: 100%;

  color: var(--text-color);
  cursor: pointer;

  .ri-arrow-down-s-line {
    transform: rotate(0deg);
    transition: transitionFunc(all);
  }

  &:hover {
    .ri-arrow-right-up-line {
      transform: translateY(-3px) translateX(3px);
    }

    .ri-arrow-right-line {
      transform: translateY(0px) translateX(3px);
    }

    .ri-arrow-down-s-line {
      transform: rotate(180deg);
    }

    .text-link__text {
      color: var(--gray-text-color);
      transition: transitionFunc(color);
    }

    .text-link__icon {
      color: var(--gray-text-color);
    }
  }

  &__icon {
    margin-left: var(--space-xxxs);
  }
}
