.header-drawer {
  @include elevation--level4;
  position: absolute;
  top: 72px;
  z-index: -1;

  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0 auto;
  min-height: 72px;
  padding: var(--space-md) var(--space-xs);

  background-color: var(--background-color);

  &--hidden {
    animation: slideOutUp;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }

  &--visible {
    animation: slideInDown;
    animation-duration: 300ms;
  }
}
